/* Agregamos las ligas para las fuentes que se utilizarán*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Permanent+Marker&family=Rock+Salt&family=Satisfy&display=swap');

body {
    background-image: url(../assets/collage2.jpg);
    background-size: cover;
    opacity: 0.9;
    height: 100%;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 0.3fr 1fr 0.3fr ;
    grid-template-areas:
    "header header header"
    "aside aside aside"
    "section section section"
    "footer footer footer";
    column-gap: 10px;
    row-gap: 10px;
    padding: 3%;
    width: auto;
}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
    font-family:  'Permanent Marker', cursive;
    text-align: center;
    text-shadow: 2px 2px 4px #6c16cfcb;
    color: black;
}

h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-shadow: 2px 2px 4px #f1238acb;
}

.notes{
    display: flex;
    height: 100%;
}

.notes * {
    font-family: 'Satisfy', cursive;
}

.notes-sidebar{
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes-add{
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
    text-shadow: 2px 2px 4px #fc466b;
}

.notes-add :hover{
    background: #fc466b;
}

.note-list-items{
    cursor: pointer;
    background: #fc466b;
    border-radius: 7px;
    font-weight: lighter;
}

.small-tittle,
.small-updated{
    padding: 10px;
}

.small-tittle{
    font-size: 1.2em;
}

.small-body{
    padding: 0 10px;
}

.small-updated{
    color: aliceblue;
    font-style: italic;
    text-align: right;
}

.notes-preview{
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes-title,
.notes-body{
    border: none;
    border-radius: 15px;
    outline: none;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}

.notes-title{
    font-size: 3em;
    font-weight: lighter;
}

.notes-body{
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1,5;
    margin-top: 2em;
    resize: none;
}

.blockquote,
.blockquote-footer{
    font-family: 'Satisfy', cursive;
    text-align: right;
    text-shadow: 2px 2px 4px #6c16cfcb;
    color: black;
}

.delete{
    color: black;
    font-family: 'Satisfy', cursive;
    text-shadow: 2px 2px 4px #6c16cfcb;
}

#delete{
    border-radius: 5px;
    border: none;
    text-align: center;
}

#b-f{
    font-family: 'Satisfy', cursive;
    text-align: right;
    text-shadow: 2px 2px 4px #6c16cfcb;
    color: black;
}

#social{
    color: black;
}

/*----------------- Se agregan los estilos para el Reproductor ------------------------------------------*/
.music-player-container{
    background: linear-gradient(30deg, rgba(0,0,0,0.65), rgba(0,0,0,0.85));
    backdrop-filter: blur(10px);
    height: fit-content;
    width: 35vw;
    border-radius: 10px;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.35);
}

.title-music-container{
    width: 80%;
    height: 80%;
    width: fit-content;
    color: white;
    margin-right: auto;
    margin-left: 10%;
}

.song-title{
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.song-author{
    margin-top: 0.1rem;
    font-size: 12px;
    color: rgb(167, 167, 167);
    letter-spacing: 0.1px;
}

.controls-music-container{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-song-container{
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-bar{
    height: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    position: relative;
}

.progress{
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background-color: white;
}

.time-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(167, 167, 167);
    font-size: 12px;
}

.time-left{
    margin-top: 0.3rem;
}

.main-song-controls{
    height: 30px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    height: 100%;
    width: auto;
    opacity: 0.6;
    cursor: pointer;
}

.icon:hover{
    opacity: 1;
}

audio{
    display: none;
}